{{- if eq .chezmoi.os "darwin" -}}
#!{{ lookPath "zsh" }}
{{ $raw := includeTemplate "get_packages.tmpl" . -}}
{{- $ctx := $raw | fromYaml -}}

brew bundle --debug --file=/dev/stdin <<EOF
{{ if and (hasKey $ctx "reposToInstall")
          (hasKey $ctx.reposToInstall "taps") -}}
{{ range $ctx.reposToInstall.taps -}}
tap "{{ . }}"
{{ end -}}
{{ end -}}

{{ if hasKey $ctx "packagesToInstall" -}}
{{ if hasKey $ctx.packagesToInstall "brew" -}}
{{ range $ctx.packagesToInstall.brew -}}
brew "{{ . }}"
{{ end -}}
{{ end -}}
{{ if hasKey $ctx.packagesToInstall "cask" -}}
{{ range $ctx.packagesToInstall.cask -}}
cask "{{ . }}"
{{ end -}}
{{ end -}}
{{ end -}}
EOF
{{- end -}}
