{{- if eq .chezmoi.os "darwin" -}}
{{- $raw := includeTemplate "get_packages.tmpl" . -}}
{{- $ctx := $raw | fromYaml -}}

{{- if hasKey $ctx "errors" -}}
  {{- printf "Could not attempt to install the following:\n" -}}
  {{- range $key, $values := $ctx.errors -}}
    {{- printf "%s\n" $key -}}
    {{- range $item := $values -}}
      {{- printf "- %s\n" $item -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

brew bundle --debug --no-lock --file=/dev/stdin <<EOF
{{ if hasKey $ctx "tapsToInstall" -}}
{{ range $ctx.tapsToInstall -}}
tap "{{ . }}"
{{ end -}}
{{ end -}}

{{ if hasKey $ctx "packagesToInstall" -}}
{{ if hasKey $ctx.packagesToInstall "brew" -}}
{{ range $ctx.packagesToInstall.brew -}}
brew "{{ . }}"
{{ end -}}
{{ end -}}
{{ if hasKey $ctx.packagesToInstall "cask" -}}
{{ range $ctx.packagesToInstall.cask -}}
cask "{{ . }}"
{{ end -}}
{{ end -}}
{{ end -}}
EOF
{{- end -}}
