README.md
LICENSE

# Ignore the Brewfile
Brewfile
Brewfile.lock.json

{{/* Only include Library if on macOS */}}
{{- if ne .chezmoi.os "darwin" }}
Library
{{- else }}
.config/rbw
{{- end }}

{{- if eq .chezmoi.os "windows" }}
.config/zsh
.config/vim
.config/rbw
.zshenv
{{- else }}
Documents
{{- end }}

{{/* Temporarily ignore Firefox config on macOS. */}}
{{- if eq .chezmoi.os "darwin" }}
Library/Application Support/Firefox/
{{- end }}
