README.md
LICENSE

# Ignore the Brewfile
Brewfile
Brewfile.lock.json

{{/* Only include Library if on macOS */}}
{{- if ne .chezmoi.os "darwin" -}}
Library
{{- end }}

{{- if eq .chezmoi.os "windows" -}}
.config/zsh
.config/vim
.zshenv
{{- else -}}
Documents
{{- end }}
