[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "configs/ui/awesome/apw"]
	path = configs/ui/awesome/apw
	url = https://github.com/mokasin/apw
[submodule "configs/ui/awesome/awesome-copycats"]
	path = configs/ui/awesome/awesome-copycats
	url = https://github.com/lcpz/awesome-copycats.git
