[defaults]
base_uri = https://api.us.onelogin.com/
client_id = {{ onepasswordRead "op://Private/OneLoginClientID/credential" }}
client_secret = {{ onepasswordRead "op://Private/OneLoginClientSecret/credential" }}
aws_app_id = {{ onepasswordRead "op://Private/OneLoginAWSAppID/credential" }}
subdomain = grindr
username = {{ .email }}
password = {{ onepasswordRead "op://Private/OneLogin/password" }}
profile = grindr-onelogin
duration_seconds = 28800
auto_determine_ip_address = yes
save_password = yes