#!/usr/bin/env zsh

# directory traversal
# setopt auto_pushd
setopt pushd_to_home

# auto-completion
setopt auto_list
setopt auto_param_keys
setopt auto_param_slash
setopt complete_aliases

# history
setopt append_history
setopt bang_hist
setopt hist_fcntl_lock
setopt hist_ignore_dups
setopt hist_ignore_space
setopt hist_reduce_blanks
setopt inc_append_history_time
export HISTFILE="${XDG_STATE_HOME:-${HOME}/.local/state}/zsh_history"

# input/output
setopt correct
setopt interactive_comments

# shell emulation
setopt append_create
setopt bsd_echo
unsetopt nomatch

# prompt options
setopt promptsubst
