{{- $indexPath := "" -}}
{{- if eq .osid "darwin" -}}
  {{- $indexPath = joinPath .chezmoi.homeDir "Library/Application Support/Zed/extensions/index.json" -}}
{{- else if eq .osid "windows" -}}
  {{- $indexPath = joinPath (env "LOCALAPPDATA") "Zed/extensions/index.json" }}
{{- else -}}
  {{- $indexPath = joinPath .chezmoi.homeDir ".local/share/zed/extensions/index.json" -}}
{{- end }}

{{- $zedExtensions := dig "zed_extensions" (dict) . -}}
{{- $exts := dig "shared" (list) $zedExtensions -}}

{{- if .work -}}
  {{- $exts = concat $exts (dig "work" (list) $zedExtensions) -}}
{{- end -}}

{{- if .personal -}}
  {{- $exts = concat $exts (dig "personal" (list) $zedExtensions) -}}
{{- end -}}

{{- if stat $indexPath -}}
  {{- $index := (include $indexPath | fromJson) -}}
  {{- $zedKeys := keys $index.extensions -}}
  {{- $exts = concat $exts ($zedKeys | default (list)) | uniq | sortAlpha -}}
{{- end -}}

{{- $exts = $exts | uniq | sortAlpha -}}

// Zed settings file.
// Note: auto_install_extensions grabs anything new extensions installed
//       in the extensions file.  Update .chezmoidata/zed_extensions.yaml
//       with these.
{
  {{- if gt (len $exts) 0 }}
  "auto_install_extensions": {
    {{- range $i, $name := $exts }}
      "{{ $name }}": true{{ if lt $i (sub (len $exts) 1) }},{{ end }}
    {{- end }}
  },
  {{- end }}
  "base_keymap": "Cursor",
  "buffer_font_fallbacks": [
    "Menlo",
    "Monaco",
    "Courier New",
    "monospace",
    "Font Awesome 6 Duotone"
  ],
  "buffer_font_family": "FiraCode Nerd Font",
  "cli_default_open_behavior": "new_window",
  "file_types": {
      "gotemplate": [
        "*.tmpl"
      ],
      "plaintext": [
        "*.txt"
      ]
    },
  "indent_guides": {
    "coloring": "indent_aware"
  },
  "icon_theme": "Zed (Default)",
  "tab_size": 2,
  "telemetry": {
    "diagnostics": false,
    "metrics": false,
    "anthropic_retention": false
  },
  "session": {
    "trust_all_worktrees": true
  },
  "ui_font_size": 16,
  "buffer_font_size": 14.0,
  "theme": {
    "mode": "dark",
    "light": "One Light",
    "dark": "One Dark Pro",
  },
}
