#!/usr/bin/env zsh

# Check if we aren't being sourced and fail early.
if ((! zsh_eval_context[(I)file] )); then
    return
fi

# Add retrain function to help form muscle memory of new commands
retrain() {
  local old=$1 new=$2
  functions[$old]="
    print -u2 -- \"\u2192 use '$new' instead of '$old'\"
    if read -q \"?run '$new' now? [y/N] \"; then
      print; $new \"\$@\"
    else
      print; command $old \"\$@\"
    fi
  "
}

# Disable Homebrew environment hints
if (( ${+commands[brew]} )); then
    export HOMEBREW_NO_ENV_HINTS=1
fi

# Is git-extras installed?
if (( ${+commands[git-extras]} )); then
    {{ if eq .chezmoi.os "darwin" -}}
    git_ex_comp_file="${HOMEBREW_PREFIX}/opt/git-extras/share/git-extras/git-extras-completion.zsh"
    {{ end -}}

    [[ -f "${git_ex_comp_file}" ]] && source "${git_ex_comp_file}"
fi

# If GVM is installed, source it.
if [[ -f ${HOME}/.gvm/scripts/gvm ]]; then
    source ${HOME}/.gvm/scripts/gvm
fi

{{ if eq .chezmoi.os "darwin" -}}
brew_functions="${HOMEBREW_PREFIX}/share/zsh/site-functions"
if [[ -d ${brew_functions} ]]; then
    fpath=(${brew_functions} ${fpath})
fi
{{ end -}}

fpath=(${XDG_CONFIG_HOME}/zsh/functions ${fpath})
autoload -Uz chezmoi

# Disable Python virtual environment prompt
export VIRTUAL_ENV_DISABLE_PROMPT=1

# Init pyenv if installed
if (( ${+commands[pyenv]} )); then
    export PYENV_ROOT=~/.local/opt/pyenv
    eval "$(pyenv init -)"
    #eval "$(pyenv init --path)"
    #eval "$(pyenv virtualenv-init -)"
fi

# Init zoxide if installed
if (( ${+commands[zoxide]} )); then
    eval "$(zoxide init zsh --cmd cd)"
fi

# Setup gcloud autocompletion if installed
if (( ${+commands[gcloud]} )); then
    gcloud_sdk_root=$(gcloud info --format="value(installation.sdk_root)")
    source "${gcloud_sdk_root}/completion.zsh.inc"
fi

# Point ripgrep to its config file
if (( ${+commands[rg]} )); then
    export RIPGREP_CONFIG_PATH=${XDG_CONFIG_HOME:~/.config}/ripgrep/config
fi

# Add delta autocompletion
if (( ${+commands[delta]} )); then
    eval $(delta --generate-completion zsh)
    export DELTA_PAGER="less --quit-if-one-screen --no-init --mouse"
fi

autoload -Uz compinit
compinit

# Worktrunk needs to be loaded after compinit
if (( ${+commands[wt]} )); then
    source ${ZDOTCONFDIR:-~/.config/zsh/conf.d}/integrations/worktrunk
fi
