#!/usr/bin/env zsh

# Check if we aren't being sourced and fail early.
if ((! zsh_eval_context[(I)file] )); then
    return
fi

# Is git-extras installed?
if (( ${+commands[git-extras]} )); then
    {{ if eq .chezmoi.os "darwin" -}}
    git_ex_comp_file="${HOMEBREW_PREFIX}/opt/git-extras/share/git-extras/git-extras-completion.zsh"
    {{ end -}}

    [[ -f "${git_ex_comp_file}" ]] && source "${git_ex_comp_file}"
fi

# If GVM is installed, source it.
if [[ -f ${HOME}/.gvm/scripts/gvm ]]; then
    source ${HOME}/.gvm/scripts/gvm
fi

{{ if eq .chezmoi.os "darwin" -}}
brew_functions="${HOMEBREW_PREFIX}/share/zsh/site-functions"
if [[ -d ${brew_functions} ]]; then
    fpath=(${brew_functions} ${fpath})
fi
{{ end -}}

fpath=(${XDG_CONFIG_HOME}/zsh/functions ${fpath})
autoload -Uz chezmoi

# Disable Python virtual environment prompt
export VIRTUAL_ENV_DISABLE_PROMPT=1

# Init pyenv if installed
if (( ${+commands[pyenv]} )); then
    export PYENV_ROOT=~/.local/opt/pyenv
    eval "$(pyenv init -)"
    #eval "$(pyenv init --path)"
    #eval "$(pyenv virtualenv-init -)"
fi

autoload -Uz compinit
compinit