#!/usr/bin/env zsh

# directory traversal
# setopt auto_pushd
setopt pushd_to_home

# auto-completion
setopt auto_list
setopt auto_param_keys
setopt auto_param_slash
setopt complete_aliases

# history
setopt extended_history # Write history in ':start:elapsed;command' format.
#setopt share_history # Share history between all sessions.  Not needed with inc_append_history{,_time}
setopt bang_hist # enable “!” history expansion
setopt hist_fcntl_lock # Lock the history file to prevent concurrent writes.
setopt hist_ignore_dups # Don't save duplicate of prior command.
setopt hist_ignore_space # Don't save if command starts with a space.
setopt hist_reduce_blanks # Remove superfluous blanks.
setopt inc_append_history_time # Write to the history file immediately after command finishes, not when the shell exits.
export HISTFILE="${XDG_STATE_HOME:-${HOME}/.local/state}/zsh_history"

# input/output
setopt correct
setopt interactive_comments

# shell emulation
setopt append_create
setopt bsd_echo
unsetopt nomatch

# prompt options
setopt promptsubst
