#!/usr/bin/env zsh

{{ if eq .chezmoi.os "darwin" -}}
ls_color="-G"
{{ else if eq .chezmoi.os "linux" }}
ls_color="--color=auto"
{{ end -}}

alias ls="ls ${ls_color}"
alias ll="ls -lh ${ls_color}"
alias lal="ls -Alh ${ls_color}"
alias lla="ls -Alh ${ls_color}"

alias history='fc -iDl 1'

alias co='git checkout'

{{ if eq .chezmoi.os "darwin" -}}
if [[ +commands[gdircolors] ]]; then
    alias dircolors=gdircolors
fi
alias brew64="PATH=/usr/local/bin:\$PATH arch -x86_64 brew"
{{ end }}

if (( ${+commands[terraform]} )); then
    alias tf=terraform
fi