/* 
 * NOTE: Make sure to add a "Flexible Space" in the left-most part of the 
 * NavBar, so that the close, minimize, and maximize buttons have space.
 */

/* Hide the tabs in the tab bar */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
    opacity: 0;
    pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
    opacity: 0;
    pointer-events: none;
}

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar .titlebar-spacer {
    border-inline-end: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

/* Get rid of the large bar that remains and move the MacOS buttons into the NavBar */
/*
#nav-bar {
	margin-right:140px;
}
*/
#titlebar {
    appearance: none !important;
    height: 0px;
}

/* Fix for main menu calling by Alt button */
#titlebar > #toolbar-menubar {
	margin-top: 10px;
}

#titlebar > #toolbar-menubar {
    margin-top: 0px;
}

#TabsToolbar {
    min-width: 0 !important;
    min-height: 0 !important;
}

#TabsToolbar > .titlebar-buttonbox-container {
    display: block;
    position: absolute;
    top: 12px;
    left: 0px;
}


/* Remove header from Tree Style Tab */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
}